
<% include header %>
<div class="container">
  <form action="">
    <label>昵称</label>
    <input type="text" placeholder='字母，数字..'>
    <label>密码</label>
    <input type="text" placeholder='password..'>
    <input type="submit" value='提交'>
  </form>
</div>
<% include footer %>
