<% include header %>
  <div class="container">
    <form action="">
        <label>昵称</label>
        <input type="text" placeholder='例如：小雨，凯琦。。。'>
        <label>密码</label>
        <input type="text" placeholder='至少8位'>
        <label>确认</label>
        <input type="text" placeholder="请确认密码">
        <input type="submit" value='注册'>
      </form>
 </div>
<% include footer %>
